.social-wrapper {
  margin-top: 2rem;

  ul {
    @include horizontal-list;
    li {
      font-size: 3.2rem;
      list-style-type: none;
      margin-right: .5rem;
      a {
        color: $default-text-color;

        &:hover {
          color: $link-color;
        }
      }
    }
  }
}
