footer {
  background: $blind-gray;
  color: $footer-text-color;
  font-size: 1.2rem;
  padding: $content-body-padding;

  .footer-wrapper {
    height: 20px;
    margin: 10px auto 0 auto;
    width :100%;
    @include breakpoint($large-screen) {
      width: $content-width;
    }

    a {
      color: $footer-text-color;
      &:hover {
        color: $whity-light-gray;
      }	
    }

    .copyright {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .author {
      @include pie-clearfix;
      .image-wrapper {
        float: right;
        img {
          @include border-radius(75px);
          width: 75px;
          height: 75px;
    	  margin-top: -40px;
	  margin-right: 40px;
 	  @include box-shadow($blind-gray 0px -1px 0 15px);
        }
      }
    }
  }
}