footer {
  background: $blind-gray;
  color: $footer-text-color;
  font-size: 1.2rem;
  padding: $content-body-padding;

  .footer-wrapper {
    height: 20px;
    margin: 10px auto 0;
    width: 100%;

    @include breakpoint($large-screen) {
      width: $content-width;
    }

    a {
      color: $footer-text-color;

      &:hover {
        color: $whity-light-gray;
      }
    }

    .copyright {
      padding-bottom: 20px;
      padding-top: 20px;
      text-align: center;
    }

    .author {
      @include pie-clearfix;

      .image-wrapper {
        float: right;

        img {
          @include border-radius(75px);
          @include box-shadow($blind-gray 0 -1px 0 15px);
          height: 75px;
          margin-right: 40px;
          margin-top: -40px;
          width: 75px;
        }
      }
    }
  }
}
