header {
  height: 320px;
  margin: 0 auto;
  background-image: image_url("drops.png");
  background-repeat: no-repeat;
  background-position: -300px 40px;
  @include breakpoint($large-screen) {
    background-position: center 40px;
    background-size: contain;
  }

  @include breakpoint($large-screen) {
    height: 400px;
  }

  #top-menu {
    background-color: $blind-gray;
    width: 100%;
    height: $top-menu-height;
    position: fixed;
    top: 0;
    z-index: 100;

    @include pie-clearfix;

    .top-menu-wrapper {
      width: 100%;
      @include breakpoint($large-screen) {
        width: $content-width;
      }
      margin: 0 auto;
      padding-top: .9rem;
      color: $top-menu-text-color;

      a {
	color: $top-menu-text-color;

	&:hover {
	  color: $whity-light-gray;
        }	
      }

      .top-menu-list {
	float: left;
        width: 80%;
	margin-left: 15px;
        @include breakpoint($large-screen) {
	  margin-left: 30px;
	}

        ul {
          @include horizontal-list;

          li {
            font-size: 1.2rem;
            margin: 0;

            &:after {
              content: "\2219";
              margin-left: 10px;
              margin-right: 3px;
            }

            &:last-child:after { content: ""; }
          }
        }
      }

      .feed {
	float: right;
	width: 10%;
	text-align: left;
	@include breakpoint($large-screen) {
	  margin-right: 60px;
	  text-align: right;
	}

	line-height: 2.2rem;

	i {
	  font-size: 1.8rem;
	}
      }
    }
  }

  .logo {
    margin: 0 auto;

    padding: 260px 20px 0 160px;
    @include breakpoint($large-screen) {
      padding: 250px 20px 0 20px;
    }

    $site-title-logo-image: false;

    @if $site-title-logo-image {
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    } @else {
      .logo-text {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #1d1d1d;
        font-size: 6vw;
        @include breakpoint($large-screen) {
          font-size: 2.5em;
        }
      }
    }
  }
}